server:
  port: 8001
  servlet:
    encoding:
      enabled: true
      force: true
      charset: UTF-8
spring:
  application:
    name: SAA-01HelloWorld

  ai:
    dashscope:
      api-key: ${aliQwen-api}

      base-url: https://dashscope.aliyuncs.com/compatible-mode/v1

      chat:
        options:
          model: qwen-plus